@font-face {
    font-family: GT Americana;
    src: url(GT-America-Mono-Regular.woff2);
}

body {
    font-family: GT Americana;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

img {
    height: 600px;
    padding: 1em;
}

.klein {
    height: 200px;
}

.div30 {
    padding: 1em;
    width: 30%;
    flex-direction: row;
}

.div100 {
    padding: 1em;
    width: 100%;
    flex-direction: column;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}